USE [DIEMTUYENSINH]
GO
/****** Object:  Table [dbo].[DIEMTS]    Script Date: 3/23/2023 8:19:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIEMTS](
	[MaSinhVien] [nvarchar](10) NOT NULL,
	[Diemmon1] [decimal](3, 1) NULL,
	[Diemmon2] [decimal](3, 1) NULL,
	[Diemmon3] [decimal](3, 1) NULL,
 CONSTRAINT [PK_DIEMTS] PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LOP]    Script Date: 3/23/2023 8:19:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOP](
	[MaLop] [nvarchar](15) NOT NULL,
	[TenLop] [nvarchar](50) NULL,
 CONSTRAINT [PK_LOP] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SINHVIEN]    Script Date: 3/23/2023 8:19:05 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SINHVIEN](
	[MaSinhVien] [nvarchar](10) NOT NULL,
	[MaLop] [nvarchar](15) NULL,
	[HoDem] [nvarchar](45) NULL,
	[Ten] [nvarchar](15) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[NoiSinh] [nvarchar](250) NULL,
 CONSTRAINT [PK_SINHVIEN] PRIMARY KEY CLUSTERED 
(
	[MaSinhVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[DIEMTS] ([MaSinhVien], [Diemmon1], [Diemmon2], [Diemmon3]) VALUES (N'DL01', CAST(9.1 AS Decimal(3, 1)), CAST(8.2 AS Decimal(3, 1)), CAST(9.4 AS Decimal(3, 1)))
INSERT [dbo].[DIEMTS] ([MaSinhVien], [Diemmon1], [Diemmon2], [Diemmon3]) VALUES (N'DL02', CAST(7.5 AS Decimal(3, 1)), CAST(6.9 AS Decimal(3, 1)), CAST(8.1 AS Decimal(3, 1)))
INSERT [dbo].[DIEMTS] ([MaSinhVien], [Diemmon1], [Diemmon2], [Diemmon3]) VALUES (N'DL03', CAST(4.9 AS Decimal(3, 1)), CAST(5.7 AS Decimal(3, 1)), CAST(8.7 AS Decimal(3, 1)))
INSERT [dbo].[LOP] ([MaLop], [TenLop]) VALUES (N'K45HDDL', N'Lớp K45HDDL')
INSERT [dbo].[LOP] ([MaLop], [TenLop]) VALUES (N'K45QTKD', N'Lớp K45QTKD')
INSERT [dbo].[LOP] ([MaLop], [TenLop]) VALUES (N'K45TMDL', N'Lớp K45TMDL')
INSERT [dbo].[SINHVIEN] ([MaSinhVien], [MaLop], [HoDem], [Ten], [NgaySinh], [GioiTinh], [NoiSinh]) VALUES (N'DL01', N'K45HDDL', N'Dương Minh', N'Hùng', CAST(N'1993-05-15' AS Date), 1, N'TP Huế')
INSERT [dbo].[SINHVIEN] ([MaSinhVien], [MaLop], [HoDem], [Ten], [NgaySinh], [GioiTinh], [NoiSinh]) VALUES (N'DL02', N'K45HDDL', N'Lê Thịnh', N'Vượng', CAST(N'1992-08-25' AS Date), 1, N'Quảng Trị')
INSERT [dbo].[SINHVIEN] ([MaSinhVien], [MaLop], [HoDem], [Ten], [NgaySinh], [GioiTinh], [NoiSinh]) VALUES (N'DL03', N'K45HDDL', N'Thị', N'Nỡ', CAST(N'1991-12-29' AS Date), 0, N'Huế')
ALTER TABLE [dbo].[DIEMTS]  WITH CHECK ADD  CONSTRAINT [FK_DIEMTS_SINHVIEN] FOREIGN KEY([MaSinhVien])
REFERENCES [dbo].[SINHVIEN] ([MaSinhVien])
GO
ALTER TABLE [dbo].[DIEMTS] CHECK CONSTRAINT [FK_DIEMTS_SINHVIEN]
GO
ALTER TABLE [dbo].[SINHVIEN]  WITH CHECK ADD  CONSTRAINT [FK_SINHVIEN_LOP] FOREIGN KEY([MaLop])
REFERENCES [dbo].[LOP] ([MaLop])
GO
ALTER TABLE [dbo].[SINHVIEN] CHECK CONSTRAINT [FK_SINHVIEN_LOP]
GO
